<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ "{{" }} app_title {{ "}}" }}</title>
</head>
    <body>
        <h2>{{ "{{" }} app_title {{ "}}" }} {{ "{{" }} app_version {{ "}}" }} ({{ "{{" }} app_date {{ "}}" }})</h2>
        {{ "{" }}% block content %{{ "}" }}{{ "{" }}% endblock %{{ "}" }}
    <br>
    <p>Please contact <a href="mailto:{{ "{{" }} app_author {{ "}}" }}?Subject={{ "{{" }} app_title {{ "}}" }}_{{ "{{" }} app_version {{ "}}" }}" target="_top">Aaron Melton</a> with any issues regarding this application.</p>
        <a href="{{ "{{" }} url_for('home.about') {{ "}}" }}"><button type="button">About</button></a>
        <a href="{{ "{{" }} url_for('home.get_changelog') {{ "}}" }}" target="_blank"><button type="button">Changelog</button></a>
        <a href="{{ "{{" }} url_for('home.main') {{ "}}" }}"><button type="button">Home</button></a>
    </body>
</html>
